.main-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-dropdown {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 3.5em;
}

.hidden {
  display: none;
}

.buttons-with-no-background {
  background: none;
  border: none;
  text-align: left;
  margin-left: -5px;
}

.stats-button-profile-button {
  background: none;
  border: none;
  text-align: left;
  margin-left: -6px;
}

.logo-header {
  width: 10em;
  display: flex;
  margin-left: -2em;
  margin-top: -1em;
}

.profile-button-nav {
  margin-top: 1em;
  margin-right: 6.5em;
}
