.main-nav-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.profile-dropdown {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 3.5em;
}

.hidden {
  display: none;
}

.buttons-with-no-background {
  background: none;
  border: none;
  text-align: left;
  margin-left: -5px;
}

.stats-button-profile-button {
  background: none;
  border: none;
  text-align: left;
  margin-left: -6px;
}

.logo-header {
  width: 10em;
  display: flex;
  margin-left: -2em;
  border-color: black;
  border: 1px;
}

.profile-button-nav {
  margin-top: 1.9em;
  margin-right: 6em;
}

.site-name-nav-bar {
  font-size: 3em;
  margin-top: .65em;
  font-family: "Sixtyfour", sans-serif;
  color: rgb(2, 10, 127);
}
